{%for job in jobs%}
  <div style='padding:10px 10px'>
    <h3 style="margin-bottom:0px">{{job['title']}}</h3>
    <div>
      <b>Loaction :</b>{{job['location']}}
    </div>
    {%if 'salary' in job%}
      <div>
        <b>Salary :</b>{{job['salary']}}
      </div>
    {%endif%}
  </div>
  <div>
    <a href="mailto:hello@NavigaateCareer.ai?subject=Application%20for%20{{job['title']}}&body=Name%3A%3Cyour%20name%20here%3E%0D%0AResume%20link%20%3A%3CResume%20link%3E%0D%0ALinkedIn%20link%3A%20%3CLinkedIn%20link%3E" class="btn btn-outline-success">Apply</a>
  </div>
  <div class="border-bottom"></div>

{%endfor%}

